<!doctype html>
<html>
<head>
  <title>My Page Title</title>

<!--        Compiled and minified CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<!-- jQuery CDN-->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<!--    Compiled and minified JavaScript-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/css.css">
</head>
<header class = "navBarColor">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="  mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="books.html">My Books</a>
      </li>
    </ul>
  </div>
</nav>
</nav>
<!-- from https://hackerthemes.com/bootstrap-cheatsheet/#navbar -->
</header>

<body>

<!-- <h2> Hello!</h2>
<a target="_blank" href="img/ignacioParedes.jpg">
  <img src="img/ignacioParedes.jpg" alt="Ignacio Paredes"/>
</a>
<p><cite><a href="https://www.imdb.com/name/nm1546300/"> Source</a></cite></p>

  <p>I'm excited that you're here! My name is Ignacio Paredes</p>
<h2> Where am I from?</h2>
  <p id = "bodyGreen">I'm glad you asked, I'm from the city of León, in the state of Guanajuato in Mexico</p>
<h2>Piñata Breaking Time</h2>
  <p>One of my favorite days of the year is my birthday, on September 16th, which also happens to be Mexico's Independence Day!</p>
  <p> Tres leches cake and piñata are staples during my birthday</p>

<h2>How Old Am I</h2>
  <p>I was born in 1990, so as of today (9/2/2019) I'm 28!</p>

<h2>Reach Out For More Info!</h2>
  <p>Send me a message via email: <a href="mailto:ignacio.paredes@thisisnotarealemail.com">Click Here</a></p> -->


<h2> Hello!</h2>
<div id="randomUserAppInput" class="col-md-4" align = center>
  <div v-for="user in users" align = center>
    <br>
    <p v-for="user in users" align = center>
    <img v-bind:src="user.picture.large"></img><br>
    My first name is: {{ user.name.first }}<br>
    My last name is: {{ user.name.last }}<br>
    I was born on: {{ user.dob.date }}<br>
    I'm {{ user.dob.age }} years old! <br>
    I am from {{user.nat}}<br>
    Reach me at: <a class="anchor-style" :href="'mailto:'+ user.email"> {{ user.email }}<a><br>
    </p>
  </div>
  </div>

<br>
<br>


<div class = "tippingPoint"></div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js\randomUser.app.js"></script>
</body>
<footer class="blackFooter">Ignacio Paredes | "The Lion" | Avid Book Reader | Member of the Continental Hotel</footer>
</html>
